<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yy.app">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="label,allowBackup">
        <activity android:name=".activity.tabhost.TabLayoutViewPagerActivity"></activity>
        <activity
            android:name=".activity.tabhost.MainTabhostActivity"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activity.fragmenttabhost.FragmentTabHostActivity"
            android:theme="@style/AppTheme3" />
        <activity android:name=".components.listview.swipemenulistview.SwipeMenuListViewActivity" />
        <activity android:name=".components.TabLayoutActivity" />
        <activity android:name=".components.viewpager.FragmentViewPagerActivity" />
        <activity android:name=".components.viewpager.ViewPager2Activity" />
        <activity android:name=".components.viewpager.ViewPagerActivity" />
        <activity android:name="function.geolocation.GeoLocationActivity" />
        <activity android:name=".components.dialog.DialogActivity" />
        <activity android:name="function.thread.ThreadMainActivity" />
        <activity android:name="function.webview.WebviewActivity" />
        <activity android:name="function.audio_video.AudioVideoActivity" />
        <activity android:name="function.notification.NotificationActivity" />
        <activity android:name=".contentprovider.ContentProviderActivity" />
        <activity android:name=".data.JsoupActivity" />
        <activity android:name=".activity.ActivityMainActivity" />
        <activity android:name=".activity.SwitchLayoutTestActivity" />
        <activity android:name=".activity.SwitchLayoutActivity" />
        <activity android:name=".event.EventsActivity" />
        <activity android:name=".data.DataActivity" />
        <activity android:name=".drawable.DrawableActivity" />
        <activity android:name=".network.NetworkActivity" />
        <activity android:name=".components.listview.swipemenulistview.SimpleActivity" />
        <activity android:name=".asynctask.AsyncTaskActivity" /> <!-- 使用了actionBar 所以需要使用  NoActionBar 的主题 -->
        <activity
            android:name=".components.drawlayout.DrawLayoutActivity"
            android:theme="@style/AppTheme3" />
        <activity android:name=".broadcastreceiver.ReceiverActivity" /> <!-- 广播 -->
        <receiver
            android:name=".broadcastreceiver.MyReceiver2"
            android:exported="true">
            <intent-filter android:priority="10">
                <action android:name="com.yy.app.broadcastreceiver.intent.myreceiver.action" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceiver.MyReceiver">
            <intent-filter android:priority="9">
                <action android:name="com.yy.app.broadcastreceiver.intent.myreceiver.action" />
            </intent-filter>
        </receiver>

        <activity android:name=".service.ServiceActivity" /> <!-- 服务 -->
        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MyIntentService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="function.coolweather.service.AutoUpdateService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".material.MaterialActivity"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".material.FruitActivity"
            android:theme="@style/AppTheme3" />
        <activity android:name=".animator.ValueAnimatorActivity" />
        <activity android:name=".components.OtherActivity" />
        <activity android:name=".components.swiperefreshlayout.SwipeRefreshLayoutActivity" /> <!-- 向上操作 parentActivityName 的设置 -->
        <activity
            android:name=".components.materialdesign.ToolbarActivity"
            android:parentActivityName=".components.materialdesign.MaterialDesignActivity" /> <!-- BubbleActivity的配置很重要 -->
        <activity
            android:name=".components.bubble.BubbleActivity"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:label="title_activity_bubble"
            android:resizeableActivity="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- material design -->
        <activity android:name=".components.materialdesign.CoordinatorLayoutActivity" /> <!-- 为activity设置自己的theme -->
        <activity
            android:name=".components.materialdesign.MaterialDesignActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- 使用默认的theme -->
        <activity android:name=".components.style.StyleActivity" />
        <activity android:name=".components.defineview.PieChartActivity" />
        <activity android:name=".components.cardview.CardViewActivity" />
        <activity android:name=".components.listview.recyclerview.RecyclerViewActivity" />
        <activity android:name=".components.listview.ListViewActivity" />
        <activity android:name=".components.ComponentMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.define" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.fragment.FragmentActivity" />
        <activity android:name="function.FunctionActivity" /> <!-- 主界面 -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 从主界面跳转到此界面, parentActivityName添加此界面的父界面是MainActivity -->
        <activity android:name=".animator.AnimActivity" />
    </application>

</manifest>